{% extends "base.html" %}

{% block title %}Vahvista sähköpostiosoitteesi{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Vahvista sähköpostiosoitteesi</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <h5><i class="fa fa-envelope me-2"></i> Tarkista sähköpostisi</h5>
                        <p>Olemme lähettäneet vahvistuslinkin sähköpostiisi. Klikkaa linkkiä vahvistaaksesi tilisi.</p>
                    </div>
                    
                    <p>Huomioithan seuraavat asiat:</p>
                    <ul>
                        <li>Vahvistusviesti voi joutua roskapostikansioon, tarkista myös se.</li>
                        <li>Vahvistuslinkki on voimassa 24 tuntia.</li>
                        <li>Vahvistamattomalla tilillä ei voi kirjautua sisään.</li>
                    </ul>
                    
                    <p class="mt-4">Etkö saanut vahvistusviestiä?</p>
                    <a href="{{ url_for('auth.resend_verification') }}" class="btn btn-outline-primary">
                        <i class="fa fa-refresh me-2"></i> Lähetä vahvistusviesti uudelleen
                    </a>
                    
                    <hr class="my-4">
                    
                    <p class="mb-0">
                        <a href="{{ url_for('auth.login') }}" class="text-decoration-none">
                            <i class="fa fa-arrow-left me-1"></i> Palaa kirjautumiseen
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 